<!-- sidebar.html -->
<div class="sidebar">

    <div style="padding-left: 20px;">
        <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo" style="width: 150px; height: auto; alignment=center">
    </div>
    
    <ul style="margin-left: 20px;">
        <div class="side_element">
            <a href="{{ url_for('dashboard') }}" style="display: flex; align-items: center; text-decoration: none;">
                <img src="{{ url_for('static', filename='dashboard.png') }}" alt="dashboard" style="width: 30px; height: auto; margin-left:10px">
                <li style="list-style: none; margin-left: 10px;">Dashboard</li>
            </a>
        </div>
        <div class="side_element">
            <a href="{{ url_for('uploader') }}" style="display: flex; align-items: center; text-decoration: none;">
                <img src="{{ url_for('static', filename='report.png') }}" alt="report" style="width: 30px; height: auto; margin-left:10px">
                <li style="list-style: none; margin-left: 10px;">Report Generator</li>
            </a>
        </div>
        <div class="side_element">
            <a href="{{ url_for('repo_page') }}" style="display: flex; align-items: center; text-decoration: none;">
                <img src="{{ url_for('static', filename='repository.png') }}" alt="repository" style="width: 30px; height: auto; margin-left:10px">
                <li style="list-style: none; margin-left: 10px;">Repository</li>
            </a>
        </div>
        <div class="side_element">
            <a href="{{ url_for('about_page') }}" style="display: flex; align-items: center; text-decoration: none;">
                <img src="{{ url_for('static', filename='about.png') }}" alt="about" style="width: 30px; height: auto; margin-left:10px">
                <li style="list-style: none; margin-left: 10px;">About</li>
            </a>
        </div>
        <div class="side_element">
            <a href="{{ url_for('userguide') }}" style="display: flex; align-items: center; text-decoration: none;">
                <img src="{{ url_for('static', filename='userguide.png') }}" alt="userguide" style="width: 30px; height: auto; margin-left:10px">
                <li style="list-style: none; margin-left: 10px;">User Guide</li>
            </a>
        </div> 
    </ul>
    <ul style="margin-left: 20px;">
        <div class="side_element">
            <a href="{{ url_for('settings_page') }}" style="display: flex; align-items: center; text-decoration: none;">
                <img src="{{ url_for('static', filename='settings.png') }}" alt="settings" style="width: 30px; height: auto; margin-left:10px">
                <li style="list-style: none; margin-left: 10px;">Settings</li>
            </a>
        </div> 
        <div class="side_element">
            <a href="#" id="logout-btn" style="display: flex; align-items: center; text-decoration: none;">
                <img src="{{ url_for('static', filename='logout.png') }}" alt="logout" style="width: 30px; height: auto; margin-left:10px">
                <li style="list-style: none; margin-left: 10px;">Logout</li>
            </a>
        </div>
    </ul>

    <!-- Profile Picture and User Name (Clickable) -->
    <a href="{{ url_for('settings_page') }}" style="text-decoration: none; color: inherit;">
        <div class="profile-info" style="position: absolute; bottom: 30px; left: 20px; display: flex; align-items: center;">
            <img src="{{ url_for('static', filename='propic.jpeg') }}" alt="Profile Picture" style="width: 50px; height: 50px; border-radius: 50%;">
            <span style="margin-left: 10px; color: black;">Luqman</span> 
        </div>
    </a>

</div>

<!-- JavaScript for confirmation dialog -->
<script>
    document.getElementById('logout-btn').addEventListener('click', function(event) {
        event.preventDefault(); // Prevent default link behavior
        
        // Display confirmation dialog
        if (confirm('Are you sure you want to logout?')) {
            // Redirect to logout URL
            window.location.href = "{{ url_for('logout') }}";
        }
    });
</script>